<div class="container mt-6 ">
  <div class="columns is-centered">
    <div class="box column is-half color">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered ">
        <span  [class]="onCompare(item,InputText[i])" *ngFor="let item of RandomText.split('');let i=index">{{item}}</span>
      </p>

      <div class="field">
        <input type="text" class="input" (input)="onChangeInput($event)">
      </div>
      <div class="box has-text-centered has-background-info-dark" *ngIf="InputText===RandomText">
        <h1 class="title has-text-light">Success!</h1>
      </div>
    </div>
  </div>
</div>

